
Dark Story/Logs/

Dark Story/Temp/

Dark Story/Assets/BrokenVector/

Dark Story/Assets/ExplosiveLLC/

Dark Story/.vs/

Dark Story/Library/

Dark Story/obj/

Dark Story/ProjectSettings/

Dark Story/Assets/BrokenVector.meta

Dark Story/Assets/ExplosiveLLC.meta

Dark Story/Assets/Scripts/mouseLook.cs.meta

Dark Story/Assets/Scripts/PlayerControl.cs.meta

Dark Story/Assets/Scripts/TestMovement.cs.meta

Dark Story/Assets/Models.meta

Dark Story/Assets/New Terrain.asset.meta

Dark Story/Assets/Prefabs.meta

Dark Story/Assets/Scripts.meta

Dark Story/Dark Story.sln

Dark Story/.vsconfig

Dark Story/Assembly-CSharp.csproj

Dark Story/Assets/New Terrain.asset

Dark Story/Assets/Scripts/mouseMove.cs.meta

Dark Story/Assets/Scripts/Move.cs.meta

Dark Story/Assets/EffectTexturesAndPrefabs/

Dark Story/Assets/LowPolyDungeonsLite/

*.meta

Dark Story/Assets/scri.cs
